<html>
<head>
    <link href="/static/stylesheet.css" rel="stylesheet">
</head>
<body>
    <div>
        <h2>Shared Folders</h2>
        {% for href, name in shared_folders %}
        <a href="{{ href }}">{{ name }}</a>
        {% endfor %}

        <h3>Current Directory: {{ curr_dir }}</h3>

        <h3>Directories</h3>
        {% for href, name in dirs %}
        <a href="{{ href }}">{{ name }}</a>
        {% endfor %}
        
        <h3>Files</h3>
        {% for href, name in files %}
        <a href="{{ href }}" download>{{ name }}</a><br>
        {% endfor %}
    </div>
</body>
</html>